.inputTask{
  width: 70%;
  margin:auto 2% ;
}
.todo{
  max-width: 96%;
  margin:auto;
}
h1{
  text-align: center;
}
.addTask{
  width: 24%;
  margin: auto;
}
li{
  list-style-type: none;
  margin:5px 2%;
}
li button{
margin-left: 5px;
border: none;
background-color: #e8dbdb;
border-radius: 100%;
}
li button:focus{
  outline: none
}
li button:hover{
  color: red;
  background-color: white;
}
.list{
  margin: auto 7px;
}
@media screen and (min-width:700px)
{
  .todo{
    max-width: 70%;
    margin: auto;
  }
}
